/* Asegura que los márgenes y el relleno estén restablecidos para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('./fondo.jpg'); /* Cambia la ruta a la ubicación de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el contenedor principal */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Estilos para el título principal */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Estilos para los grupos de inputs y labels */
.input-container {
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Estilos para los labels */
label {
    margin-bottom: 5px;
    font-size: 1rem;
}

/* Estilos para los inputs y selects */
input, select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para el botón */
button {
    padding: 10px;
    border: none;
    background-color: #027bb3;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #007bff;
    display: block;
    text-align: center;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Estilo adicional para el contenedor de inputs dinámicos */
#inputs {
    margin-top: 20px;
}

/* Mensaje de error */
#error {
    color: red;
    margin-top: 10px;
}
